@charset "utf-8";
/* CSS Document */

body {
	background-color: #EBEBEB;
	margin: 0px;
	margin: auto;
	padding: 0px;
	font: 13px Arial, Sans-Serif;
	text-align: left;
	min-width: 1000px;
	color: #494949;
}

a {
	text-decoration: none;
	color: #0A00FF;
}

a:hover {
	color: #4900FF;
	text-decoration: none;
}

.header {
	background-image: url("images/header.png");
	background-repeat: repeat-x;
	background-color: #000000;
	color: #FFFFFF;
}

#nav-header {		
	background-image: url("images/nav-top.png");
	background-repeat: repeat-x;	
	background-color: #FFFFFF;
	background-color: #FFFFFF;
	border-bottom: 1px solid #ECECEC;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.10);
}

#nav-header ul {
	background-image: url("images/nav-top.png");	
	background-color: #FFFFFF;
	margin: 0px auto;
	padding: 15px;	
	width: 80%;
}

#nav-header ul li {
	margin: 0px;
	list-style-type: none;
	display: inline;
	padding: 15px;
	border-right: 1px solid #ECECEC;
}

#nav-header ul li a {
	text-decoration: none;
	color: #8A8A8A;
}

#nav-header ul li a:hover {
	text-decoration: none;
	color: #000000;
}

h1 {
	margin: 0px;
	font-size: 16px;
}

.body-width-80 {
	max-width: 80%;
	margin: 0px auto;
}

#left {
	float: left;
	width: 20%;
	padding-top: 10px;
}

#right {
	float: right;
	width: 20%;
	padding-top: 10px;
}

#center {
	margin: 0px auto;
	position: absolute center;
	width: 60%;
	padding-top: 10px;
}

.panel {
	padding: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.title {
	background-image: url("images/title.png");
	background-color: #002CFF;
	padding: 10px;
	text-align: center;
	margin: 0px;
	color: #FFFFFF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #965EFF;
}

.panel-border {
	border: 1px solid #002CFF;
	border-top: 0px solid #EBEBEB;
	margin: 0px;
	padding: 0px;
}

.panel-content {
	background-color: #FFFFFF;
	padding: 0px;
}

.padding-10 {
	background-color: #FFFFFF;
	padding: 10px;
}

.topic {
	padding: 10px;
	border-bottom: 1px solid #F1F1F1;
}

.title2 {
	background-color: #DDDDDD;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	border-top: 1px solid #002CFF;
}

.line {
	padding: 10px;
	border-bottom: 1px solid #F1F1F1;
}

input[type='text'] {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}

input[type='file'] {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}

input[type='password'] {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}

input[type='submit'] {
	background-color: #1A00FF;
	padding: 10px;
	margin: 3px;
	border: 0px solid #C3C3C3;
	border-radius: 3px;
	color: #FFFFFF;
}

.btn {
	background-color: #1A00FF;
	padding: 10px;
	margin: 3px;
	border: 0px solid #C3C3C3;
	border-radius: 3px;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #1A00FF;
	padding: 10px;
	margin: 3px;
	border: 0px solid #C3C3C3;
	border-radius: 3px;
	color: #FFFFFF;
}


input[type='email'] {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}

textarea {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
	width: 400px;
	height: 400px;
}

select {
	background-color: #FFFFFF;
	padding: 10px;
	margin: 3px;
	border: 1px solid #C3C3C3;
	border-radius: 3px;
}

.alert-success {
	background-color: #1BCC00;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
}

.alert-warning {
	background-color: #FF0004;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
}

.img {
	background-color: #FFFFFF;
	padding: 3px;
	border: 5px solid #F1F1F1;
	display: inline;
}

.table {
	display: inline;
}

h2 {
	margin: 0px auto;
	text-align: center;
	font-size: 15px;
}

.table-td-left {
	margin: 0px auto;
	display: inline;
	position: top 0;
	position: absolute;
	padding-left: 5px;
}

h3 {
	font-weight: normal;
	word-break: keep-all;
	width: 310px;
	text-align: justify;
	margin: auto;
	font-size: 14px;
}

.admin-show {
	visibility: collapse;
}

hr {
	border: 1px solid #DFDFDF;
}

.panel-bg-white {
	background-color: #FFFFFF;
	padding: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.15);
}

.title3 {
	background-image: url("images/title3.png");
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px auto;
	text-align: center;
	border: 1px solid #E8E8E8;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-border3 {
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	border-top: 0px solid #EDEDED;
	padding: 15px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.panel-border2 {
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-top: 0px solid #E7E7E7;
}

.lesson-categ-title {
	background-image: url("images/lesson_categ_title.png");
	background-color: #939393;
	padding: 10px;
	color: #FFFFFF;
}

.lessons-border {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 5px;
	border: 1px solid #E7E7E7;
}

.lesson {
	background-image: url("images/nav-top.png");
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	padding: 10px;
	border-bottom: 1px solid #E7E7E7;
}

.footer {
	background-color: #4B4B4B;
	border-top: 2px solid #FFFFFF;
	padding: 20px;
	color: #FFFFFF;
	margin-top: 10px;
	float: left;
	position: relative;
	min-width: 96.71%;
	bottom: 0;
	height: 100% auto;
	text-align: center;
}

.dotted-line {
	border: 1px dotted #E8E8E8;
}

.padding-left-4 {
	padding-left: 4px;
	padding-top: 10px;
}

p {
	word-break: keep-all;
	word-spacing: normal;
	word-wrap: break-word;
	text-align: justify;
	line-stacking: block-line-height;
	white-space: pre-line;
}

#content-10 {
	word-break: loose;
	word-spacing: normal;
	word-wrap: break-word;
	text-align: justify;
	white-space: pre-line;
	height: 200px;
	overflow: hidden;
}

.show-topic {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 5px;
	border: 1px solid #E8E8E8;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-radius: 5px;
}

#nav-check {
}

#nav-check ul {
}

#nav-check ul li {
	list-style-image: url("images/check_small.gif");
}

.ss {
	border-top: 1px solid #E3E3E3;
	padding: 10px;
}

.btn2 {
	padding: 5px;
	margin: 2px;
	border: 1px solid #D9D9D9;
}

.btn2:hover {
	padding: 5px;
	margin: 2px;
	border: 1px solid #D9D9D9;
	background-color: #D9D9D9;
}

p img {
	max-width: 99%;
}

.ava-content {
	border: 5px solid #F5F5F5;
	background-color: #FFFFFF;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.ava-list {
	margin: 0px auto;
	margin: auto;
	height: 100%;
}

.page-btn {
	background-color: #FFFFFF;
	padding: 5px;
	margin: 1px;
	border: 1px solid #B3B3B3;
	color: #6B6B6B;
}

.page-btn:hover {
	background-color: #B3B3B3;
	padding: 5px;
	margin: 1px;
	border: 1px solid #B3B3B3;
	color: #FFFFFF;
}

.dev-name {
	background-color: #E9E9E9;
	padding: 5px;
	text-align: center;
	top: 10px;
	font-size: 11px;
	margin-top: 120px;
	border-top: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
}

.ava {
	border: 1px solid #E9E9E9;
}

#nav-top {
	border-top: 5px solid #000000;
	margin: 0px;
	padding-right: 30px;
}

#nav-top ul {
	float: right;
	margin: 0px;
	padding: 8px;
	background-color: #000000;
	color: #FFFFFF;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#nav-top ul li {
	display: inline;
	margin: 0px;
	padding: 8px;
}

#nav-top ul li:hover {
	background-color: #515151;
	color: #FFFFFF;
}

.nav-top-separator {
	background-color: #000000;
	color: #FFFFFF;
}

#nav-top ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

#nav-top ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

table {
	font-size: 12px;
}

.panel-border4 {
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.10);
}

.panel-border4 a {
	text-decoration: none;
	color: #000000;
}

.panel-border4 a:hover {
	text-decoration: none;
	color: #4900FF;
}

.padding-10-v2 {
	padding: 10px;
}

.btn3 {
	color: #6A6A6A !important;
	background-image: url("images/title3.png");
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 0px auto;
	text-align: center;
	border: 1px solid #E8E8E8;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	display: block;
	width: 110px;
}

.btn3:hover {
	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
}

.ava-img {
	border: 1px solid #D3D3D3;
	border-radius: 5px;
}

.ava-img:hover {
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 0px 5px 3px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 0px 5px 3px rgba(50, 50, 50, 0.10);
}

.comment {
	background-color: #F7F7F7;
	padding: 10px;
	margin: 2px;
	margin-top: 5px;
}