.g_iframe{
border: 2px;
}

/*home style*/
.art{
border: 2px solid #fff;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	opacity: 1;
}
.art:hover{
-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1);
	border: 2px solid #90EE90;
}
